%cardBlog{
    background-color: rgb(252, 228, 228);
    
    .miniatura{
        width: 125px;
        height: 125px;
        padding-top: 20px;
        padding-bottom: 10px;
    }
    
    .card-body{
        background-color: rgb(136, 250, 243);
        border-left: 1px solid rgb(8, 8, 8);
        border-right: 1px solid rgb(8, 8, 8);
        border-bottom: 1px solid rgb(8, 8, 8);
    }
}