.parrafos{
    width: 80%;
    padding-left: 250px;
    h1{
        font-family: Karla-Italic-VariableFont_wght;
        font-size: 50px;
        margin: 0px 0px 30px;
    }
    p{
        font-family: Calibri;
        font-size: 18px;
        margin: 0px 0px 18px;
    }
}

.parrafos-2{
    width: 80%;
    padding-left: 250px;
    h1{
        font-family: Karla-Italic-VariableFont_wght;
        font-size: 50px;
        margin: 0px 0px 30px;
    }
    h2{
        font-family: LilyScriptOne-Regular;
        color: #ef61a4;
        font-size: 32px;
        margin: 26.56px 0px;
    }
    p{
        font-family: Calibri;
        font-size: 18px;
        margin: 0px 0px 18px;
    }
}